.single_product {
    width: 260px;
    height: 550px;
    float: left;
    margin-left: 5px;
    margin-right: 1px;
    padding-top: 3px;
}

img.single_product {
    width: 250px;
    height: 400px;
    padding-bottom: 3px;
}

button.more {
    background-color: darkblue;
    color: white;
    margin-right: 20px;
    padding: 7px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 500;
    display: block;
    margin: 0 auto;
    margin-bottom: 3px;
    width: 200px;
}

button.addToCard {
    background-color: darkred;
    color: white;
    margin-right: 20px;
    padding: 7px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 500;
    display: block;
    margin: 0 auto;
    margin-bottom: 3px;
    width: 200px;
}

a.addToCart {
    text-decoration: none;
}

h2.cardTitle {
    font-size: 24px;
    padding: 5px;
    padding-top: 10px;
    text-align: center;
    color: darkred;
}

.price {
    color: darkred;
    font-size: 24px;
    text-align: center;
}