body {
    position: relative;
    min-height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 1.2;
    color: #333;
    background-color: #fff;
}

h2 {
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 15px;
}

img {
    margin: 0
}

.main_wrapper {
    background: white;
    width: 1000px;
    height: auto;
    margin: 0 auto;
}